/* font type */
body {font-family: Helvetica, Arial, 'LiHei Pro', '微軟正黑體','新細明體', sans-serif;}

body {
    padding-top: 70px;
}

.portfolio-item {
    margin-bottom: 25px;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #000000;
}
